:root {
  --pointColor: #3b6dec;
}
img {
  vertical-align: top;
}

/* 팝업 */
.pop-parent {
  position: fixed;
  top: 200px;
  right: 0;
  z-index: 999;
  transition: all 0.2s;
}

.pop-parent .m-ratioBox-wrap {
  width: 100%;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}
.pop-parent .m-ratioBox-wrap .m-ratioBox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
}
/*
.m-ratioBox-wrap .m-ratioBox:after {content:""; width:83px; height:28px; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); background:url("../img/logo.png") no-repeat; background-size:100%; opacity:0.4;}
 */
.pop-parent .m-ratioBox-wrap img {
  display: block;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 1;
}
.pop-parent .m-ratioBox-wrap iframe {
  width: 105%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 1;
}

.pop-parent .swiper {
  overflow: hidden;
}
.pop-parent .swiper-container {
  overflow: visible;
}
.pop-parent .swiper-pagination {
  display: flex;
}
.pop-parent .pop {
  width: 400px;
  position: relative;
}
.pop-parent .pop .btn-toggle {
  width: 40px;
  height: 40px;
  position: relative;
  background-color: black;
  cursor: pointer;
}
.pop-parent .pop .btn-toggle img {
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  transition: all 0.3s;
}
.pop-parent .pop-btns {
  display: flex;
  position: absolute;
  top: 80px;
  left: -120px;
  background-color: #3c3c3c;
  opacity: 1;
  transform: rotate(90deg);
}
.pop-parent .pop-btns a {
  color: #fff;
  padding: 7px 14px;
}
.pop-parent .pop-btns #oneday_check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.pop-parent .pop-btns #oneday_check + label {
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
.pop-parent .pop-btns #oneday_check + label:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  border: 1px solid #fff;
}
.pop-parent .pop-btns #oneday_check:checked + label .icon {
  position: absolute;
  left: 7px;
  top: 7px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/img/check_checked.png") no-repeat center center;
}

.pop-parent .pop .swiper-btn-control {
  width: 8px;
  height: 11px;
  margin-left: 16px;
  position: relative;
  top: 2px;
}
.pop-parent .swiper-control {
  display: flex;
  align-items: center;
  position: absolute;
  top: 21px;
  right: 20px;
  z-index: 2;
}
.pop-parent .swiper-control .swiper-pagination {
  position: static;
}
.pop-parent .swiper-pagination-bullet {
  flex: 0 0 auto;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 0;
  border: 1px solid white;
  opacity: 0.5;
  background-color: transparent;
}
.pop-parent .swiper-pagination-bullet-active {
  background-color: #fff;
  opacity: 1;
}
.pop-parent.active {
  right: -400px;
}
.pop-parent.active .btn-toggle {
  transform: rotate(180deg);
}

.pop-parent .pop .btn-close {
  display: none;
  width: 40px;
  height: 40px;
  position: relative;
  background-color: black;
}

@font-face {
  font-family: S-CoreDream3;
  src: url(/0-기본폼/Project/fonts/SCDream3.otf);
}

@font-face {
  font-family: S-CoreDream4;
  src: url(/0-기본폼/Project/fonts/SCDream4.otf);
}

@font-face {
  font-family: S-CoreDream5;
  src: url(/0-기본폼/Project/fonts/SCDream5.otf);
}

@font-face {
  font-family: S-CoreDream6;
  src: url(/0-기본폼/Project/fonts/SCDream6.otf);
}

@font-face {
  font-family: S-CoreDream7;
  src: url(/0-기본폼/Project/fonts/SCDream7.otf);
}

/*성철*/
/*PC*/
/* body {
    width: 1920px;
    height: 980px;
}

#wrap {
    width: 1920px;
    height: 980px;
} */

#wrap {
  width: 100%;
  height: 100%;
  /* height: 980px; */
  margin: 0 auto;

  /*smooth wrapper*/
  overflow: visible;
  width: 100%;
  /* set a height because the contents are position: absolute, thus natively there's no height */

  background-image: linear-gradient(
      rgba(255, 255, 255, 0.07) 2px,
      transparent 2px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.07) 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, 0.06) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.06) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

/* 메인 사진 */

.main-image {
  position: relative;
  width: 100%;
  height: 980px;
  object-fit: contain;
}

.main-image > img {
  width: 100%;
  height: 100%;
}

.main-text-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

/* .main-image-smallText {
    position: absolute;
    top: 321px;
    left: 50%;
    width: 224px;
    height: 28px;
    transform: translate(-50%);
} */
.main-image-smallText {
  display: block;
  width: 224px;
  height: auto;
  margin: 0px auto;
}

/*big text 애니메이션 부분*/

.main-image-bigText {
  width: 100%;
  text-align: center;
  transform: scale(0.94);
  margin-top: 34px;
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.main-image-bigText > span {
  font-family: S-CoreDream6;
  font-size: 56px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: 0.34px;
  text-align: center;
  color: #fff;

  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/*big text 애니메이션 부분 끝*/

.go-homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  border: solid 1px #fff;

  font-family: S-CoreDream6;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  margin: 64px auto 0px auto;
  color: #fff;
}

.go-homePage a {
  text-decoration: none; /* 링크의 밑줄 제거 */
  color: inherit; /* 링크의 색상 제거 */
  padding: 14px 21px;
}


/*FONT_HOUSE*/
@font-face {
  font-family: S-CoreDream3;
  src: url(../fonts/SCDream3.otf);
}

@font-face {
  font-family: S-CoreDream4;
  src: url(../fonts/SCDream4.otf);
}

@font-face {
  font-family: S-CoreDream5;
  src: url(../fonts/SCDream5.otf);
}

@font-face {
  font-family: S-CoreDream6;
  src: url(../fonts/SCDream6.otf);
}

@font-face {
  font-family: S-CoreDream7;
  src: url(../fonts/SCDream7.otf);
}

/* fonts */
.font3 {
  font-family: S-CoreDream3;
  font-weight: 300;
}
.font4 {
  font-family: S-CoreDream4;
  font-weight: 200;
}
.font5 {
  font-family: S-CoreDream5;
  font-weight: 500;
}
.font6 {
  font-family: S-CoreDream6;
  font-weight: bold;
}
.font7 {
  font-family: S-CoreDream7;
}

/* 메인 CSS*/
.bg-video > .brain-video {
  width: 100%;
  height: 100%;
  object-fit: cover;

  z-index: -1500;
}


.brain-main-texts {
  position: absolute;
  z-index: 100;
  top: 30%;
  left: 240px;
}

.brain-main-texts > .big-text {
  font-family: S-CoreDream6;
  font-size: 56px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.brain-main-texts > .small-text {
  margin-top: 32px;

  font-family: S-CoreDream4;
  font-size: 24px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
}

.mySwiper {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.control-wrap {
  position: absolute;
  bottom: 240px;
  left: 240px;
  display: flex;
  text-align: center;
  vertical-align: center;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  position: static;
  margin: 0;
}

.mySwiper .swiper-button-prev:after,
.mySwiper .swiper-button-next:after {
  font-size: 25px;
  color: #fff;
}
.swiper.mySwiper .swiper-pagination {
  position: static;
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 0px 12px;
}

.mySwiper .swiper-pagination-bullet {
  opacity: 1;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.15);
}
.mySwiper .swiper-pagination-bullet-active {
  position: relative;
  background-color: rgba(255, 255, 255, 0.15);
  width: 72px;
  border-radius: 3px;
  overflow: hidden;
}
.mySwiper .swiper-pagination-bullet-active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.85);
  animation: fillOverlay 4s ease forwards;
}
@keyframes fillOverlay {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.mySwiper .swiper-slide {
  background-color: #000;
}

.mySwiper .swiper-button-prev.swiper-button-disabled {
  opacity: 1;
}

.top_button {
  position: fixed;
  bottom: 80px;
  right: 240px;

  width: 64px;
  height: 64px;
  z-index: 100;
  background: #fff;
}

/* 쉽고 재미있는 심리측정 */
.black-background {
  background-color: #202020;
  width: 100%;
  height: 100%;
  z-index: -1500;
}
.text {
  z-index: 100;
}

.section-01 .main-title {
  position: relative;
  color: #fff;
}
.section-01 .main-title::after {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  top: -12px;
  right: -12px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--pointColor);
}

.black-big-text {
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: #fff;

  padding-top: 148px;
  /* margin-left: 240px; */

  display: flex;
}

.black-big-text .big-text .easy {
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: #707070;
}

.articles {
  margin-top: 46px;

  display: flex;
  justify-content: center;
  gap: 42px;
}

.articles .title {
  margin-top: 29px;

  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #fff;
}

.articles .content {
  margin-top: 8px;
  font-size: 20px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  color: #fff;
  opacity: 0.5;
}

.show-more-btn {
  margin-top: 64px;
  text-align: center;
}

.show-more-btn .show-more a {
  padding: 16px 32px;
  background-color: #fff;
  border-radius: 8px;

  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #3b6dec;
}

.show-more-btn .show-more a i {
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #3b6dec;
}

.special-img {
  margin-top: 140px;
  max-width: 1920px;
  height: 266px;

  text-align: center;
  position: relative;
}

.special_image {
  /* width: 75%; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.special-img .title {
  position: absolute;
  top: 30%;
  left: 25%;
  text-align: left;

  font-size: 32px;
  font-weight: bold;
  font-style: normal;
  color: #fff;
}

.special-img .content {
  position: absolute;
  top: 50%;
  left: 25%;
  text-align: left;

  font-size: 18px;
  font-style: normal;
  line-height: 1.78;
  color: #fff;
}

/* 맞춤형 모니터링 시스템 */

.section-02 .black-big-text {
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: #fff;

  padding-top: 148px;
}

.black-big-text .big-text .easy {
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: #707070;
}
.section-02 .main-title {
  position: relative;
  color: #fff;
}

.section-02 .main-title::after {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  top: -12px;
  right: -12px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--pointColor);
}

.section-02 .main-items-wrap {
  display: flex;
  gap: 126px;
}

.section-02 .main-items-wrap ul {
  max-width: 835px;
  width: 100%;
}

.section-02 .main-items-wrap .item {
  width: 100%;
}

.section-02 .main-items-wrap .item:first-of-type .monitering-bizs {
  margin-top: 80px;
}
.section-02 .main-items-wrap .item:not(:first-of-type) .monitering-bizs {
  margin-top: 48px;
}
.section-02 .main-items-wrap .item.active .biz-title-wrap .biz-title {
  color: #fff;
  width: 100%;
}
.section-02 .main-items-wrap .item.active .biz-button i {
  transform: rotate(0deg);
}

/* .section-02 .monitering-bizs .biz-article {
  display: flex;
  gap: 126px;
} */

/* 제목과 열기/닫기 버튼 */

.section-02 .biz-title-wrap {
  display: flex;
  justify-content: space-between;
}

.section-02 .biz-title-wrap .biz-title {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: #707070;
}

.section-02 .biz-title-closed {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: #707070;
}

.section-02 .biz-button i {
  font-size: 24px;
  color: #fff;
  transform: rotate(180deg);
}

/* 열기/닫기 버튼을 통해 나오는 내용 */

.conatainer-1440 {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.biz-text {
  border-bottom: 2px solid #484848;
  padding-bottom: 32px;
}

.item.active .monitering-bizs .biz-article .biz-content.active {
  display: block;
  margin-top: 24px;
  font-size: 18px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  text-align: left;
  color: #fff;
}

.biz-text .biz-content {
  display: none;
}

/* 사진 */
.section-02 .main-items-wrap .biz-img-wrap {
  margin-top: 80px;

  max-width: 480px;
  max-height: 545px;
}
.section-02 .main-items-wrap .biz-img-wrap .biz-img {
  display: none;
}

.section-02 .main-items-wrap .biz-img-wrap .biz-img.active {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/* 오시는 길 */

.section-03 .black-big-text {
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: #fff;

  padding-top: 120px;
  padding-bottom: 51px;
}
.section-03 .main-title {
  position: relative;
  color: #fff;
}

.section-03 .main-title::after {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  top: -12px;
  right: -12px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--pointColor);
}

.container-1920 {
  width: 100%;
  max-width: 1920px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.container-1920 .map {
  width: 100%;
  height: 100%;
}
/* 지도 상세 페이지 설명 */
.container-1920 .loc-info {
  position: absolute;
  top: 189px;
  left: 775px;
  /* z-index: 2; */

  padding: 8px;

  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #e4e4e4;
}
.container-1920 .loc-info .loc-btn-wrap {
  text-align: right;
}
.container-1920 .loc-info .loc-btn-wrap .loc-info-btn {
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
}

.container-1920 .loc-info .loc-info-text-wrap {
  padding-right: 44px;
  padding-left: 24px;
  padding-bottom: 24px;
}
.container-1920 .loc-info .loc-info-text-wrap .loc-info-title {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: #202020;
}
.container-1920 .loc-info .loc-info-text-wrap .loc-info-detail {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  color: #202020;
}
.container-1920 .loc-info .loc-info-text-wrap .loc-info-detail.font3 {
  color: #707070;
}

.container-1920 .company-info {
  position: absolute;
  bottom: 80px;
  right: 80px;
  padding: 40px;
  /* z-index: 2; */
  background-color: #3b6dec;
  text-align: left;
}
.container-1920 .company-info .company-name {
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: #fff;
}
.container-1920 .company-info .company-name:after {
  padding-top: 15px;
  content: "";
  display: block;
  border-bottom: 3px solid #fff;
  width: 25%;
}

.container-1920 .company-info .company-loc {
  padding-top: 11px;
  font-size: 20px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.9;
  color: #fff;
}
.container-1920 .company-info .company-loc i {
  color: #fff;
}

.container-1920 .company-info .company-mail {
  font-size: 20px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.9;
  color: #fff;
}
.container-1920 .company-info .company-mail i {
  color: #fff;
}



/* ABOUT US */

.about-header {
  padding-bottom: 30px;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.about-section01 {
  position: relative;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow: hidden;
}
.about-section01 .about-section01-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-section01 .about-section01-text {
  position: absolute;
  top: 40%;
  left: 35%;
}
.about-section01 .about-section01-text .about-section01-title {
  font-size: 56px;
  font-weight: bold;
  color: #fff;
}
.about-section01 .about-section01-text .about-section01-content {
  margin-top: 32px;
  font-size: 24px;
  font-weight: 200;
  line-height: 1.58;
  color: #fff;
}

.about-section02 {
  position: relative;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #202020;
  align-items: center;
}
.about-section02 .about-section02-buttons {
  display: flex;
  justify-content: center;
}
.about-section02 .about-section02-button-wrap::after {
  content: "";
  display: block;
  border-bottom: 1px solid #3b6dec;
}
.about-section02 .about-section02-button-wrap .about-section02-button {
  position: relative;
  width: 288px;
  font-size: 18px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #fff;

  padding: 16px 0px;
  /* padding-left: 127px;
  padding-right: 127px; */
  /* pointer-events: auto; */
}
.about-section02 .about-section02-button-wrap .about-section02-button.able {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  /* pointer-events: none; */
}
.about-section02
  .about-section02-button-wrap
  .about-section02-button.able::after {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  content: "";
  display: block;
  border-bottom: 3px solid #3b6dec;

  /* padding-top: 18px; */
}

/* 회사소개 제목 */

.about-section02 .about-section02-title {
  width: fit-content;
  font-size: 48px;
  color: #fff;
  margin-top: 140px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.about-section02 .about-section02-title::after {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  top: -12px;
  right: -12px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--pointColor);
}

.about-section02 .about-section02-title-line {
  border: 1px solid #fff;
  width: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  transform: rotate(90deg);
}

.about-section02 .about-section02-bg {
  margin-top: 84px;
  width: 100%;
  max-width: 1920px;
  background-image: linear-gradient(120deg, #3b6dec 25%, #202020 129%);
  padding: 114px 625px 113px;
}
.about-section02 .about-section02-bg .about-section02-bg-img {
  width: 359px;
  height: 45px;
}
.about-section02 .about-section02-bg .about-section02-bg-text {
  margin-top: 40px;
  font-size: 24px;
  line-height: 1.58;
  color: #fff;
}

/* 심리 조기 진단, 맞춤형 치료 지원 */

.about-section03 {
  position: relative;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #202020;
  align-items: center;
  transition-duration: 0.5s;
}
.about-section03.white {
  background-color: #fff;
  transition-duration: 0.5s;
}

.about-section03 .about-section03-title {
  padding-top: 140px;
  font-size: 40px;
  line-height: 1.35;
  color: #fff;
}

.about-section03 .solution-flex {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 64px;
}
.about-section03 .solution-flex.next {
  margin-top: 80px;
  padding-bottom: 131px;
}

.about-section03 .solution-flex .solution-image {
  max-width: 700px;
  max-height: 430px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.about-section03 .solution-flex .solution-text-wrap {
  margin-top: 118px;
}

.about-section03 .solution-flex .solution-text-wrap .solution-text-title {
  font-size: 32px;
  text-align: left;
  color: #fff;
}
.about-section03 .solution-flex .solution-text-wrap .solution-text-title .blue {
  color: #3b6dec;
}
.about-section03 .solution-flex .solution-text-wrap .solution-text-title.white {
  color: #202020;
  transition-duration: 0.5s;
}

.about-section03 .solution-flex .solution-text-wrap .solution-text {
  margin-top: 24px;
  font-size: 16px;
  line-height: 2;
  text-align: left;
  color: #fff;
}

.about-section03 .solution-flex.next .solution-text-wrap .solution-text.white {
  color: #202020;
  transition-duration: 0.5s;
}

/* 고객 & 협력 */

.about-section04 {
  position: relative;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 140px;
  text-align: center;
  background-color: #202020;
  align-items: center;

  transition-duration: 0.5s;
}

.about-section04 .customer {
  font-size: 40px;
  color: #202020;
}
.about-section04 .customer-text {
  margin-top: 32px;
  font-size: 20px;
  color: #202020;
  line-height: 1.7;
}

.about-section04 .swiper {
  margin-top: 40px;
  width: 100%;
  max-width: 1920px;
  z-index: 0;
  height: 63px;
}
.about-section04 .swiper.second,
.about-section04 .swiper.third {
  margin-top: 0px;
}

.about-section04 .swiper .swiper-wrapper {
  transition-timing-function: linear;
  width: 100%;
  height: 100%;
}

.about-section04 .swiper .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 164px;
  transition: transform 0.3s;
  background-color: #707070; /*로고 사진 넣을때, 슬라이더 배경색 뺴줘야함*/
}

.about-section04 .swiper .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px 16px;
}

.about-section04 .partner {
  font-size: 40px;
  color: #202020;
  margin-top: 140px;
}
.about-section04 .partner-text {
  margin-top: 32px;
  font-size: 20px;
  color: #202020;
  line-height: 1.7;
}

.about-section04 .partner-wrap {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1110px;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
}
.about-section04 .partner-wrap .partner-logo {
  width: 164px;
  height: 63px;
  background-color: #707070; /*로고 사진 넣을때, 배경색 뺴줘야함 */
}
.about-section04 .partner-wrap .partner-logo:hover {
  transition: 0.5s;
  box-shadow: 0 0 5px #333;
}

.about-section04 .partner-wrap .partner-logo img {
  display: block;
  width: 100%;
  height: 100%;
  padding: 15px 16px;
}

.about-section05 {
  position: relative;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 134px;
  text-align: center;
  background-color: #202020;
  align-items: center;

  transition-duration: 0.5s;
}
.about-section05.white {
  background-color: #fff;
}
.about-section05 .about-section05-content-wrap {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.about-section05 .about-section05-title {
  font-size: 40px;
  text-align: center;
  color: #fff;
}
.about-section05 .about-section05-content {
  margin-top: 63.5px;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
}
.about-section05 .about-section05-content.first {
  margin-top: 80px;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
}
.about-section05 .about-section05-content .content-index {
  margin-right: 32px;
  font-size: 32px;
  opacity: 0.55;
  color: #ffffff;
}
.about-section05 .about-section05-content .content-title {
  max-width: 462px;
  text-align: left;
  width: 100%;
  margin-right: 40px;
  font-size: 32px;
  color: #3b6dec;
}
.about-section05 .about-section05-content .content-title.white {
  color: #fff;
  transition-duration: 0.5s;
}
.about-section05 .about-section05-content .content {
  font-size: 24px;
  color: #fff;
  text-align: left;
  line-height: 1.67;
}
.about-section05 .about-section05-content-wrap::after {
  padding-top: 63.5px;
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid #fff;
}

/* 브레인트레이서의 비전 */

.about-section06 {
  position: relative;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 140px;
  padding-bottom: 169px;
  text-align: center;
  background-color: #202020;
  align-items: center;

  transition-duration: 0.5s;
}
.about-section06 .about-section06-title {
  font-size: 40px;
  text-align: center;
  color: #ffffff;
}
.about-section06 .about-section06-img-wrap {
  max-width: 1440px;
  max-height: 567px;

  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
}
.about-section06 .about-section06-img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.about-section06 .about-section06-text-wrap {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.about-section06 .about-section06-text-wrap .about-section06-text .text {
  font-size: 20px;
  line-height: 1.8;
  text-align: left;
  color: #fff;
}

/* 회사 연혁 퍼블 */

.history-section01 {
  position: relative;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 140px;
  text-align: center;
  background-color: #202020;
  align-items: center;

  display: none;
}

.history-section01 .history-section01-title {
  width: fit-content;
  font-size: 48px;
  color: #fff;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.history-section01 .history-section01-title::after {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  top: -12px;
  right: -12px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--pointColor);
}

.history-section01 .history-section01-title-line {
  border: 1px solid #fff;
  width: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  transform: rotate(90deg);
}

.history-section01 .history-section01-img-wrap {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 84px;
}
.history-section01 .history-section01-img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.history-section01 .history-container {
  margin-top: 74px;
}

.history-container .history-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.history-container .history-list .history-circle.able {
  width: 48px;
  height: 48px;
  border: solid 8px #3b6dec;
  border-radius: 50%;
  z-index: 2;
}
.history-container .history-list .history-circle.able .inner-circle {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #202020;
  border-radius: 50%;
  z-index: 2;
}
.history-container .history-list .history-circle.disable {
  width: 48px;
  height: 48px;
  border: solid 8px #202020;
  border-radius: 50%;
  z-index: 2;
}
.history-container .history-list .history-circle.disable .inner-circle {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #484848;
  border-radius: 50%;
  z-index: 2;
}

/* 원 안에 선 작업 */

/* .history-container .history-list:not(:last-child) .history-circle.able .inner-circle::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 1px;
  height: 100%;
  height: 500px;
  background: #484848;
  z-index: 0;
}
.history-container .history-list:not(:last-child) .history-circle.disable .inner-circle::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 1px;
  height: 250px;
  background: #484848;
  z-index: 0;
} */
.history-container > .history {
  width: 100%;
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
}
.history-container .history-list {
  position: relative;
  justify-content: flex-start;
  min-height: 200px;
}
.history-container .history-list .history-circle {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translateX(-50%);
}
.history-container .history-list:not(:last-child)::after {
  content: "";
  display: block;
  clear: both;

  position: absolute;
  top: 0px;
  left: 0px;
  width: 1px;
  height: 100%;
  background-color: #484848;
}
.history-container .history-list .history-year-wrap {
  margin-left: 24px;
}

.history-container .history-list .history-year-wrap {
  padding-left: 40px;
  padding-right: 65px;
  padding-top: 3px;
}

.history-container .history-list .history-year-wrap h3 {
  font-size: 40px;
  color: #fff;
}
.history-container .history-list .history-text {
  max-width: 521.67px;
  width: 100%;
  /* min-height: 204px; */
  margin-bottom: 40px;
}

.history-container .history-list .history-text .history-text-detail {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}
/* .history-container .history-list .history-text .history-text-detail.disable {
  display: none;
} */
/* .history-container .history-list .history-text .history-text-detail:last-child {
  margin-bottom: 73px;
} */
.history-container .history-list .history-text .history-text-detail h4 {
  opacity: 0.5;
  font-size: 20px;
  color: #fff;
  padding-top: 6px;
}

.history-container .history-list .history-text .history-text-detail p {
  font-size: 20px;
  line-height: 1.8;
  color: #fff;
}

.history-container .history-list .history-text-wrap {
  display: none;
}
.history-container .history-list .history-text-wrap.on {
  display: block;
}

/* Services 챕터 >> 이전해야할 것*/

.services-header {
  -webkit-backdrop-filter: blur(20px);
}

.services-section01 {
  position: relative;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #202020;
  align-items: center;
}
.services-section01 .services-section01-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.services-section01 .services-section01-text-wrap {
  position: absolute;
  top: 40%;
  left: 35%;
}
.services-section01 .services-section01-text-wrap .title {
  text-align: center;
  font-size: 56px;
  color: #fff;
  margin-bottom: 32px;
}
.services-section01 .services-section01-text-wrap .text {
  text-align: center;
  font-size: 24px;
  line-height: 1.58;
  color: #fff;
}

.services-section02 {
  position: relative;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #202020;
  align-items: center;
}
.services-section02 .services-section02-buttons {
  display: flex;
  justify-content: center;
}
.services-section02 .services-section02-button-wrap::after {
  content: "";
  display: block;
  border-bottom: 1px solid #3b6dec;
}
.services-section02 .services-section02-button-wrap .services-section02-button {
  position: relative;
  width: 288px;
  font-size: 18px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #fff;

  padding: 16px 0px;
}
.services-section02
  .services-section02-button-wrap
  .services-section02-button.able {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  font-size: 18px;
  /* pointer-events: none; */
}
.services-section02
  .services-section02-button-wrap
  .services-section02-button.able::after {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  content: "";
  display: block;
  border-bottom: 3px solid #3b6dec;

  /* padding-top: 18px; */
}
.services-braintracer {
  position: relative;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 149px;
  text-align: center;
  background-color: #202020;
  align-items: center;
}
.services-braintracer .services-braintracer-text-wrap {
  margin-left: auto;
  margin-right: auto;
}
.services-braintracer .services-braintracer-text-wrap .title {
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 84px;
  font-size: 48px;
  color: #fff;
  text-align: center;
}
.services-braintracer .services-braintracer-text-wrap .title span {
  color: #707070;
}
.services-braintracer .services-braintracer-text-wrap .title::after {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  top: -12px;
  right: -12px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--pointColor);
}
.services-braintracer
  .services-braintracer-text-wrap
  .services-braintracer-title-line {
  border: 1px solid #fff;
  width: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 84px;
  transform: rotate(90deg);
}

.services-braintracer .services-braintracer-text-wrap .text {
  margin-top: 84px;
  font-size: 40px;
  text-align: center;
  line-height: 1.35;
  color: #fff;
}
.services-braintracer .services-braintracer-text-wrap .text span {
  color: #3b6dec;
}

.services-braintracer .services-braintracer-img-wrap {
  max-width: 1440px;
  max-height: 728px;
  margin-left: auto;
  margin-right: auto;
}
.services-braintracer .services-braintracer-img-wrap img {
  width: 100%;
  height: 100%;
}
.services-braintracer .services-process-text-wrap {
  margin-top: 60px;
}
.services-braintracer .services-process-text-wrap .text {
  font-size: 40px;
  line-height: 1.35;
  text-align: center;
  color: #fff;
}
.services-braintracer .services-process-text-wrap .text span {
  color: #3b6dec;
}
.services-braintracer .services-process-flex {
  margin-top: 93px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services-braintracer .services-process-flex .next-img-wrap {
  min-width: 34px;
  min-height: 41px;
  transition: all 0.3s ease;
}
.services-braintracer .services-process-flex .next-img-wrap:hover {
  transform: translateY(-20px);
}
.services-braintracer .services-process-flex .process {
  position: relative;
  min-width: 265px;
  min-height: 245px;
  padding: auto;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5%;
  transition: all 0.3s ease;
}
.services-braintracer .services-process-flex .process:hover {
  transform: translateY(-20px);
}
.services-braintracer .services-process-flex .process::before {
  position: absolute;
  content: "";
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3b6cde;
  opacity: 0.5;
  border-radius: 50%;
  width: 62px;
  height: 62px;
}
.services-braintracer .services-process-flex .process::after {
  position: absolute;
  content: attr(data-step);
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3b6cde;
  font-size: 20px;
  color: white;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  font-family: S-CoreDream6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services-braintracer .services-process-flex .process img {
  max-width: 50px;
  min-height: 50px;
  width: 100%;
  height: 100%;
  margin-top: 63px;
}
.services-braintracer .services-process-flex .process .process-text {
  margin-top: 37px;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  color: #fff;
}

.services-braintracer .services-last-text {
  margin-top: 140px;
  padding-bottom: 140px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.services-braintracer .services-last-text .services-last-text-img-wrap {
  max-width: 700px;
  max-height: 430px;
}
.services-braintracer .services-last-text .services-last-text-img-wrap img {
  width: 100%;
  height: 100%;
}

.services-braintracer .services-last-text .services-last-text-wrap {
  padding-top: 36px;
  text-align: left;
}
.services-braintracer .services-last-text .services-last-text-wrap .title {
  font-size: 32px;
  line-height: 1.44;
  color: #fff;
}
.services-braintracer .services-last-text .services-last-text-wrap .title span {
  color: #3b6dec;
}
.services-braintracer .services-last-text .services-last-text-wrap .text {
  margin-top: 40px;
  font-size: 18px;
  line-height: 1.89;
  color: #fff;
}

/* services-ptsd */

.services-ptsd {
  display: none;
  position: relative;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #202020;
  align-items: center;
}
.services-ptsd .services-ptsd-text-wrap {
  margin-left: auto;
  margin-right: auto;
  padding-top: 149px;
  text-align: center;
}
.services-ptsd .services-ptsd-text-wrap .title {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 84px;
  position: relative;
  font-size: 48px;
  color: #fff;
}
.services-ptsd .services-ptsd-text-wrap .title span {
  color: #707070;
}
.services-ptsd .services-ptsd-text-wrap .title::after {
  position: absolute;
  content: "";
  display: block;
  clear: both;
  top: -12px;
  right: -12px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--pointColor);
}

.services-ptsd .services-ptsd-text-wrap .services-ptsd-title-line {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #fff;
  width: 40px;
  rotate: 90deg;
}

.services-ptsd .services-ptsd-text-wrap .text {
  margin-top: 84px;
  font-size: 40px;
  line-height: 1.35;
  color: #fff;
}
.services-ptsd .services-ptsd-text-wrap .text span {
  color: #3b6dec;
}

.services-ptsd .services-ptsd-img-wrap {
  max-width: 1440px;
  max-height: 567px;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
}
.services-ptsd .services-ptsd-img-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.services-ptsd .services-ptsd-process-wrap {
  margin-top: 140px;
  text-align: center;
}
.services-ptsd .services-ptsd-process-wrap .title {
  font-size: 40px;
  line-height: 1.35;
  color: #fff;
}
.services-ptsd .services-ptsd-process-wrap .title span {
  color: #3b6dec;
}
.services-ptsd .services-ptsd-process-wrap .services-ptsd-process-flex {
  max-width: 1440px;
  max-height: 740px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
}
.services-ptsd
  .services-ptsd-process-wrap
  .services-ptsd-process-flex
  .process {
  max-width: 700px;
  max-height: 350px;
  width: 100%;
  height: 100%;
  padding: 40px;
  background-color: #373737;
  border-radius: 12px;
  text-align: left;
}
.services-ptsd
  .services-ptsd-process-wrap
  .services-ptsd-process-flex
  .process
  .index {
  font-size: 20px;
  color: #fff;
}
.services-ptsd
  .services-ptsd-process-wrap
  .services-ptsd-process-flex
  .process
  .title {
  margin-top: 16px;
  font-size: 24px;
  color: #3b6dec;
}
.services-ptsd
  .services-ptsd-process-wrap
  .services-ptsd-process-flex
  .process
  .content {
  margin-top: 24px;
  text-align: left;
}
.services-ptsd
  .services-ptsd-process-wrap
  .services-ptsd-process-flex
  .process
  .content
  li {
  line-height: 2.13;
  font-size: 16px;
  color: #fff;
}
.services-ptsd
  .services-ptsd-process-wrap
  .services-ptsd-process-flex
  .process
  .content
  li::before {
  content: "•";
  color: #fff;
  margin-right: 7px;
}
.services-ptsd
  .services-ptsd-process-wrap
  .services-ptsd-process-flex
  .process
  .img-wrap {
  float: right;
  margin-top: 14px;

  max-width: 64px;
  max-height: 64px;
}

.services-ptsd .services-ptsd-contact {
  position: relative;
  max-width: 1920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
  text-align: center;
  background-image: linear-gradient(119deg, #3b6dec 25%, #202020 127%);
}
.services-ptsd .services-ptsd-contact .text {
  padding-top: 100px;
  font-size: 24px;
  line-height: 1.58;
  color: #fff;
}
.services-ptsd .services-ptsd-contact .btn {
  margin-top: 34px;
  margin-bottom: 100px;
  padding: 16px 32px;
  border-radius: 8px;
  background-color: #fff;
  font-size: 20px;
  text-align: center;
}
.services-ptsd .services-ptsd-contact .btn a,
i {
  color: #3b6dec;
}

/* Contact Us */
.contact-header {
  -webkit-backdrop-filter: blur(80px);
  backdrop-filter: blur(80px);
}

.contact-section01 {
  position: relative;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.contact-section01 .bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-section01 .contact-section01-text-wrap {
  position: absolute;
  top: 40%;
  left: 33%;
}
.contact-section01 .contact-section01-text-wrap .title {
  font-size: 56px;
  color: #fff;
}
.contact-section01 .contact-section01-text-wrap .text {
  margin-top: 32px;
  font-size: 24px;
  line-height: 1.58;
  color: #fff;
}

.contact-section02 {
  position: relative;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #ffffff;
  align-items: center;
}
.contact-section02 .contact-section02-buttons {
  display: flex;
  justify-content: center;
}
.contact-section02 .contact-section02-button-wrap::after {
  content: "";
  display: block;
  border-bottom: 1px solid #3b6dec;
  opacity: 0.2;
}
.contact-section02 .contact-section02-button-wrap .contact-section02-button {
  position: relative;
  width: 288px;
  font-size: 18px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  color: #202020;

  padding: 16px 0px;
  /* padding-left: 127px;
  padding-right: 127px; */
  /* pointer-events: auto; */
}
.contact-section02
  .contact-section02-button-wrap
  .contact-section02-button.able {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  /* pointer-events: none; */
}
.contact-section02
  .contact-section02-button-wrap
  .contact-section02-button.able::after {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  content: "";
  display: block;
  border-bottom: 3px solid #3b6dec;
}

.contact-form {
  position: relative;
  max-width: 1920px;
  margin-top: 111.5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 140px;
  text-align: center;
  background-color: #ffffff;
}
.contact-form .text-title-wrap {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.contact-form .text-title-wrap::after {
  position: absolute;
  content: "";
  clear: both;
  top: 74px;
  width: 100%;
  border: 1px solid #202020;
}
.contact-form .text-title-wrap .title {
  font-size: 42px;
  color: #202020;
}
.contact-form .text-title-wrap .info {
  font-size: 17px;
  color: #202020;
}
.contact-form .text-title-wrap .info span {
  font-size: 20px;
  color: #ff0400;
}

.contact-form .input-wrap-flex {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 29px 40px;
  text-align: left;
}
.contact-form .input-wrap-flex .input-wrap {
  max-width: 700px;
  min-height: 95px;
  width: 100%;
}
.contact-form .input-wrap-flex .input-wrap .info {
  font-size: 20px;
  color: #202020;
  margin-bottom: 15px;
}
.contact-form .input-wrap-flex .input-wrap .info span {
  font-size: 20px;
  color: #ff0400;
  margin-left: 4px;
}
.contact-form .input-wrap-flex .input-wrap input {
  max-width: 700px;
  max-height: 52px;
  width: 100%;
  height: 100%;
  border: 1px solid #d8d8d8;
  background-color: #ffffff;
  font-family: S-CoreDream4;
  font-size: 17px;
  padding-left: 16px;
}
.contact-form .input-wrap-flex .input-wrap input::placeholder {
  font-size: 17px;
  line-height: 1.41;
  color: #aeaeae;
  font-family: S-CoreDream4;
}

.contact-form .text-area-wrap {
  position: relative;
  max-width: 1440px;
  height: 296px;
  width: 100%;
  margin-top: 29px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 78px;
  text-align: left;
}
.contact-form .text-area-wrap .info {
  font-size: 20px;
  color: #202020;
  margin-bottom: 15px;
}
.contact-form .text-area-wrap .info span {
  font-size: 20px;
  color: #ff0400;
  margin-left: 4px;
}
.contact-form .text-area-wrap textarea {
  max-width: 1440px;
  max-height: 253px;
  width: 100%;
  height: 100%;
  border: 1px solid #d8d8d8;
  background-color: #ffffff;
  font-size: 17px;
  font-family: S-CoreDream4;
  padding-left: 16px;
  padding-top: 16px;
}
.contact-form .text-area-wrap textarea::placeholder {
  font-size: 17px;
  line-height: 1.41;
  color: #aeaeae;
  font-family: S-CoreDream4;
}
.contact-form .text-area-wrap::after {
  position: absolute;
  content: "";
  clear: both;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #c5c5c5;
  top: 333px;
  left: 0%;
}

.contact-form .accept-wrap {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  text-align: left;
}
.contact-form .accept-wrap > .title {
  font-size: 20px;
  color: #202020;
  margin-bottom: 15px;
}
.contact-form .accept-wrap .information-wrap {
  max-width: 1440px;
  width: 100%;
  padding: 32px 32px;
  background-color: #f9f9f9;
}
.contact-form .accept-wrap .information-wrap > .title {
  font-size: 18px;
  color: #333;
  margin-bottom: 24px;
}
.contact-form .accept-wrap .information-wrap .text-flex-wrap {
  display: flex;
  justify-content: left;
  align-items: first baseline;
}
.contact-form .accept-wrap .information-wrap .text-flex-wrap:not(:last-child) {
  margin-bottom: 8px;
}
.contact-form .accept-wrap .information-wrap .text-flex-wrap .text-title {
  max-width: 137px;
  width: 100%;
  font-size: 16px;
  line-height: 1.75;
  color: #999;
}
.contact-form .accept-wrap .information-wrap .text-flex-wrap .text-content {
  max-width: 1100px;
  width: 100%;
  font-size: 16px;
  line-height: 1.75;
  color: #999;
}

.contact-form .check-wrap {
  max-width: 1440px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  text-align: left;
}
.contact-form .check-wrap label {
  display: flex;
  justify-content: start;
  align-items: center;
}
.contact-form .check-wrap label input[type="checkbox"] {
  display: block;
  border-radius: 2px;
  border: solid 1.5px #bfbfbf;
  background-color: #fff;
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.contact-form .check-wrap label .check-info {
  font-size: 17px;
  color: #202020;
}
.contact-form .btn-submit {
  padding: 22px 398px 25px 399px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
  background-color: #484848;
  font-size: 18px;
  color: #fff;
}

.contact-directions {
  max-width: 1920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
}
.contact-directions .content-wrap {
  margin-left: auto;
  margin-right: auto;
}
.contact-directions .content-wrap .title {
  font-size: 44px;
  text-align: center;
  color: #202020;
  margin-bottom: 24px;
}
.contact-directions .content-wrap .text-flex {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: start;
  align-items: center;
}
.contact-directions .content-wrap .text-flex .text {
  max-width: 209px;
  width: 100%;
  text-align: left;
  line-height: normal;
  font-size: 24px;
  color: #202020;
}
.contact-directions .content-wrap .text-flex i {
  font-size: 30px;
  line-height: normal;
  color: #202020;
  margin-right: 8px;
}
.contact-directions .content-wrap .text-flex .direction {
  font-size: 24px;
  text-align: left;
  color: #202020;
}

.contact-directions .container-1920 {
  width: 100%;
  max-width: 1920px;
  overflow: hidden;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

}
.contact-directions .container-1920 .wrap_map .map {
  max-width: 1920px;
}
.contact-directions .container-1920 .map {
  width: 100%;
  height: 100%;
}
/* 지도 상세 페이지 설명 */
.contact-directions .container-1920 .loc-info {
  position: absolute;
  top: 189px;
  left: 775px;
  z-index: 20;

  padding: 8px;

  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #e4e4e4;
}
.contact-directions .container-1920 .loc-info .loc-btn-wrap {
  text-align: right;
}
.contact-directions .container-1920 .loc-info .loc-btn-wrap .loc-info-btn {
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
}

.contact-directions .container-1920 .loc-info .loc-info-text-wrap {
  padding-right: 44px;
  padding-left: 24px;
  padding-bottom: 24px;
}
.contact-directions .container-1920 .loc-info .loc-info-text-wrap .loc-info-title {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: #202020;
}
.contact-directions .container-1920 .loc-info .loc-info-text-wrap .loc-info-detail {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  color: #202020;
}
.contact-directions .container-1920 .loc-info .loc-info-text-wrap .loc-info-detail.font3 {
  color: #707070;
}

.contact-directions .container-1920 .company-info {
  position: absolute;
  bottom: 80px;
  right: 80px;
  padding: 40px;
  z-index: 20;
  background-color: #3b6dec;
  text-align: left;
}
.contact-directions .container-1920 .company-info .company-name {
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: #fff;
}
.contact-directions .container-1920 .company-info .company-name:after {
  padding-top: 15px;
  content: "";
  display: block;
  border-bottom: 3px solid #fff;
  width: 25%;
}

.contact-directions .container-1920 .company-info .company-loc {
  padding-top: 11px;
  font-size: 20px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.9;
  color: #fff;
}
.contact-directions .container-1920 .company-info .company-loc i {
  color: #fff;
}

.contact-directions .container-1920 .company-info .company-mail {
  font-size: 20px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.9;
  color: #fff;
}
.contact-directions .container-1920 .company-info .company-mail i {
  color: #fff;
}
