<style>
  .footer {
    width: 100%;
    height: auto;
    background-color: #484848;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .com-info-div {
    margin-top: 57px;
    margin-left: 240px;
  }

  .com-info-logo {
    width: 206px;
    height: 26px;
  }

  .com-info {
    margin-top: 32px;
    opacity: 0.7;
    font-family: S-CoreDream4;
    font-size: 14px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  .copyright {
    padding-top: 32px;
    padding-bottom: 40px;
    height: auto;
    opacity: 0.4;
    font-family: S-CoreDream4;
    font-size: 14px;
    font-weight: 200;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  .nav {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 38px;
    margin-right: 240px;
  }

  .nav-sub a,
  .nav-text a {
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 링크의 색상 제거 */
  }

  .nav-sub {
    font-family: S-CoreDream5;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  .line {
    width: 128px;
    height: 1px;
    margin-top: 14.5px;
    margin-bottom: 13.5px;
    background-color: #fff;
  }

  .nav-text {
    font-family: S-CoreDream3;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    margin-bottom: 14px;
  }
</style>

<div id="footer" class="footer" data-speed="clamp(0.8)">
  <div class="com-info-div">
    <img src="./images/main_small_subject.svg" class="com-info-logo" />

    <p class="com-info">
      상호명 : 브레인트레이서&nbsp; | &nbsp;대표 : 임재근&nbsp; | &nbsp;이메일 :
      braintracer@manito.kr <br />
      주소 : 대전광역시 서구 둔지로 60, 4층 457호(둔산동, 35229) 브레인트레이서
    </p>

    <p class="copyright">Copyright 2024 브레인트레이서 All Rights Reserved.</p>
  </div>

  <div class="nav">
    <div class="section">
      <p class="nav-sub">About us</p>

      <div class="line"></div>

      <p class="nav-text">
        <a href=""> 회사소개 </a>
      </p>
      <p class="nav-text">
        <a href=""> 연혁 </a>
      </p>
    </div>
    <div class="section">
      <p class="nav-sub">Services</p>

      <div class="line"></div>

      <p class="nav-text">
        <a href=""> BraintracerBraintracer For all </a>
      </p>
      <p class="nav-text">
        <a href=""> BraintracerBraintracer For PTSD </a>
      </p>
    </div>
    <div class="section">
      <p class="nav-sub">Contact us</p>

      <div class="line"></div>

      <p class="nav-text">
        <a href=""> 문의하기 </a>
      </p>
      <p class="nav-text">
        <a href=""> 오시는길 </a>
      </p>
    </div>
  </div>
</div>
