<style>
  /*FONT_HOUSE*/
  @font-face {
    font-family: S-CoreDream3;
    src: url(../fonts/SCDream3.otf);
  }

  @font-face {
    font-family: S-CoreDream4;
    src: url(../fonts/SCDream4.otf);
  }

  @font-face {
    font-family: S-CoreDream5;
    src: url(../fonts/SCDream5.otf);
  }

  @font-face {
    font-family: S-CoreDream6;
    src: url(../fonts/SCDream6.otf);
  }

  @font-face {
    font-family: S-CoreDream7;
    src: url(../fonts/SCDream7.otf);
  }

  /* fonts */
  .font3 {
    font-family: S-CoreDream3;
    font-weight: 300;
  }
  .font4 {
    font-family: S-CoreDream4;
    font-weight: 200;
  }
  .font5 {
    font-family: S-CoreDream5;
    font-weight: 500;
  }
  .font6 {
    font-family: S-CoreDream6;
    font-weight: bold;
  }
  .font7 {
    font-family: S-CoreDream7;
  }

  #header {
    position: absolute;
    width: 100%;
    height: 80px;
    z-index: 100;
  }
  #gnb {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }

  #gnb > a > .logo {
    width: 160px;
    height: 20px;

    margin-top: 30px;
    margin-left: 80px;
  }

  #gnb > .section {
    margin-top: 27px;
    margin-right: 136px;

    display: flex;
    gap: 130px;
    text-align: center;
  }

  #gnb > .section > a {
    font-family: S-CoreDream5;
    font-size: 17px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }

  #gnb .ham-menu-btn {
    display: none;
  }
  #gnb .ham-menu {
    display: none;
  }

  @media screen and (max-width: 1500px) {
    #gnb > .section {
      margin-right: 80px;
    }
  }
  @media screen and (max-width: 850px) {
    #gnb > a > .logo {
      margin-left: 20px;
    }
    #gnb > .section {
      margin-right: 20px;
      gap: 40px;
    }
  }
  @media screen and (max-width: 767px) {
    #gnb {
      padding: 20px;
    }
    #gnb > a > .logo {
      margin: 0;
    }
    #gnb > .section {
      display: none;
    }

    #gnb .ham-menu-btn {
      display: block;
    }
    #gnb .ham-menu-btn i {
      color: #fff;
      font-size: 23px;
    }
  }
</style>

<nav id="gnb">
  <a href="../../test/main.html">
    <img src="./images/main_small_subject.svg" alt="로고" class="logo" />
  </a>

  <div class="section">
    <a href="../../test/about_us.html" class="goto-link">About us</a>
    <a href="../../test/services.html" class="goto-link">Services</a>
    <a href="../../test/contact_us.html" class="goto-link">Contact us</a>
  </div>

  <button class="ham-menu-btn">
    <i class="xi-bars"></i>
  </button>
</nav>

<section class="ham-menu">
  
</section>

<script>
  const hamBtn = document.querySelector(".ham-menu-btn");
  const icon = document.querySelector(".ham-menu-btn i");
  hamBtn.addEventListener("click", ()=> {

    if(icon.className === "xi-bars") {
      icon.className = "xi-close";
    } else {
      icon.className = "xi-bars";
    }
  })
</script>
