<nav id="gnb">
  <a href="../../test/main.html">
    <img src="./images/main_small_subject.svg" alt="로고" class="logo" />
  </a>

  <div class="section">
    <a href="../../test/about_us.html" class="goto-link">About us</a>
    <a href="../../test/services.html" class="goto-link">Services</a>
    <a href="../../test/contact_us.html" class="goto-link">Contact us</a>
  </div>

  <button class="ham-menu-btn">
    <i class="xi-bars"></i>
  </button>
</nav>

<section class="ham-menu">
  <div class="ham-btn-wrap">
    <button class="ham-btn">
      <p class="btn-title font6">About us</p>
      <i class="xi-angle-down"></i>
    </button>
    <button class="ham-btn">
      <p class="btn-title font6">Services</p>
      <i class="xi-angle-down"></i>
    </button>
    <button class="ham-btn">
      <p class="btn-title font6">Contact us</p>
      <i class="xi-angle-down"></i>
    </button>
    
  </div>
</section>

<script>
  const headerBg = document.getElementById("gnb")
  const hamBtn = document.querySelector(".ham-menu-btn");
  const icon = document.querySelector(".ham-menu-btn i");
  const menu = document.querySelector(".ham-menu");


  const buttonTitle = document.querySelector(".ham-btn .btn-title")
  const buttonIcon = document.querySelector(".ham-btn i");

  hamBtn.addEventListener("click", ()=> {

    if(icon.className === "xi-bars") {
      icon.className = "xi-close";
      menu.style.display = "block";
      menu.style.backgroundColor = "#202020";
      headerBg.style.backgroundColor = "#202020";
    } else {
      icon.className = "xi-bars";
      menu.style.display = "none";
      menu.style.backgroundColor = "";
      headerBg.style.backgroundColor = "";
    }
  })
  // document
  //     .querySelectorAll(".ham-btn")
  //     .forEach((btn, index, buttons) => {
  //       btn.addEventListener("click", () => {
  //         // 버튼 클릭 시 URL 해시 변경
  //         if (index === 0) {
  //           location.hash = "braintracerforall";
  //         } else {
  //           location.hash = "braintracerforptsd";
  //         }

  //         // 버튼 스타일 업데이트 및 섹션 표시
  //         buttons.forEach((otherBtn, otherIndex) => {
  //           if (otherIndex !== index) {
  //             otherBtn.classList.remove("able", "font6");
  //             otherBtn.classList.add("font4");
  //             section01.style.display = "block";
  //             section02.style.display = "none";
  //           } else {
  //             section01.style.display = "none";
  //             section02.style.display = "block";
  //           }
  //         });

  //         btn.classList.add("able", "font6");
  //       });
  //     });
</script>
